# macOS
.DS_Store

# R
.Rapp.history
.Rhistory
.RData
.Rproj.user/
*.Rproj
renv/library/
renv/staging/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
rdkit_env/
.venv/
env/

# Temporary files
*.tmp
*.log

# Omitted data
manuscript/
data/
results/cross_validation/04_loco_cv_coefficient_long.csv
